@import url("theme.css");

.wy-nav-content {
    max-width: none;
}

h1, h2 {
    border-bottom: 1px solid #eaecef;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

